@import '../../../node_modules/bootstrap-less/bootstrap/bootstrap';

//********************
//Home Page
//********************

//I'll be dividing this Less into the pages, and sections of pages as appropriate.


//***************
//Global Rules
//***************
html,body,#page-wrapper{
	height:100% !important;
	width:100% !important; 
	margin:0px; 
	padding:0px;
}

.sections {
	height: 200%;
	width: 100%;
}

//**************
// Section 1
//**************
.first-section {
	height: 50% !important;
	width: 100% !important;
}
.nav-bar {
	height: 15% !important;
	background-color: white;
}
.big-photo {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	background-image: url("http://nlpt.app/images/background.jpg");
	height: 85% !important;
}

//**************
// Section 2
//**************
.second-section {
	height: 50% !important;
	background-color: green;
	width: 100% !important;
}



